<%= form_with(model: did_good, local: true) do |form| %>
  <% if did_good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(did_good.errors.count, "error") %> prohibited this did_good from being saved:</h2>

      <ul>
      <% did_good.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%# form.label :sender_id %>
    <%= form.hidden_field :sender_id, class: 'form-control', value: current_user.id %>
  </div>

  <style>
    .message {
      min-height: 10em;
    }
  </style>

  <div class="form-group">
    <%= form.label :membro %>
    <%= form.collection_select(:receiver_id, User.all.where.not(id: current_user.id), :id, :full_name, { prompt: 'Quem mandou bem...' }, :class => 'form-control', required: true, id: 'receiverField', onChange: "document.getElementById('card_receiver').innerHTML = this.options[this.selectedIndex].text;") %>
  </div>

  <div class="form-group">
    <% arr = [] %>
    <% 13.times do |i| %>
      <% arr << ["Foto #{i}", asset_path("mandoubem_#{i}.jpg")] %>
    <% end %>
    <%= form.label :imagem %>
    <%= form.select(:photourl, options_for_select(arr), { prompt: 'Escolha a Foto...' }, :class => 'form-control', required: true, onChange: "attImage(this);") %>
  </div>

  <div class="form-group">
    <%= form.label :mensagem %>
    <%= form.text_area :description, class: 'form-control message', id: 'descriptionField', onKeyUp: "document.getElementById('card_description').innerHTML = this.value;" %>
  </div>

  <div class="form-group">
    <%= form.label :assinatura %>
    <%= form.text_area :signature, class: 'form-control', id: 'signatureField', onKeyUp: "document.getElementById('card_signature').innerHTML = this.value;" %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", class: 'btn btn-info' %>
  </div>
<% end %>

<script>
  function attImage(sel) {
      document.getElementById('card_mandou_bem_image').src = sel.options[sel.selectedIndex].value;
      document.getElementById('hidden_photo').value = sel.options[sel.selectedIndex].value;
  }
</script>