<p id="notice"><%= notice %></p>
<h1><%=@activity_category.name%></h1>
<div class="card" style="margin-top: 1em;">
    <div class="card-body">
        <div class="form-group">
        <label style="font-weight: 600;">Valor do Dono</label>
        <br>
        <%= @activity_category.owner_value %>
        </div>

        <div class="form-group">
        <label style="font-weight: 600;">Valor do Membro</label>
        <br>
        <%= @activity_category.member_value %>
        </div>

        <div class="form-group">
        <label style="font-weight: 600;">Descrição</label>
        <br>
        <%= @activity_category.description %>
        </div>      
    </div>
</div>
<%= link_to 'Editar', edit_activity_category_path(@activity_category) %> |
<%= link_to 'Voltar', :back %>
